@page "/products/detail/{productId:int}"
@inject IProductService productService
@inject ISimilarProductsService similarProductsService
@inject ICompatibleProductsService compatibleProductsService
@inject ICartProductService cartProductService
@inject ICartService cartService
@inject IToastService toastService
@inject IJSRuntime jsRuntime 

@if (this.product is null)
{
    <Spinner/>    
}
else
{
    <div class="row">
        <div class="col-md-6">
            <!-- img slide -->
            <div class="product" id="product">
                @*class="zoom"*@ @*onmousemove="zoom(event)"*@
                @*style="background-image: url(@product.ImageUrl)"*@
                <div>
                    <img style="width: 100%; height: auto;" src="@product.ImageUrl">
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="ps-lg-10 mt-6 mt-md-0">
                <h1 class="mb-3">@product.Name</h1>
                <div class="mb-4">
                    <RecycledBadge Product="this.product"/>
                </div>
                
                <div class="fs-4 mb-3">
                    <span class="fw-bold text-dark">$32</span>
                    <span class="text-decoration-line-through text-muted">$35</span>
                    <span>
                        <small class="fs-6 ms-2 text-danger">
                            26% Off
                        </small>
                    </span>
                </div>
                <div>
                    <div class="input-group input-spinner">
                        <input @onclick="DecreaseQuantity" type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                        <input @bind-value="SelectedQuantity" type="number" step="1" min="1" max="20" name="quantity" class="quantity-field form-control-sm form-input">
                        <input @onclick="IncreaseQuantity" type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
                    </div>
                </div>
                @if (this.cartProductDTO is not null)
                {
                    <div class="my-3">
                        <span class="text-bg-light-warning text-muted p-2">You currently have <strong>@cartProductDTO.ProductQuantity</strong> of these items in your cart.</span>
                    </div>
                }
                <div class="mt-3 row justify-content-start g-2 align-items-center">
                    <div class="col-xxl-4 col-lg-4 col-md-5 col-5 d-grid">
                        <button type="button" class="btn btn-primary" @onclick="AddToCart" disabled="@this.AddToCartInProgress">
                            <i class="feather-icon icon-shopping-bag me-2"></i>
                            @if (this.AddToCartInProgress)
                            {
                                @:Processing...
                                <span class="spinner-border"></span>
                            }
                            else
                            {
                                @:Add to cart
                            }
                        </button>
                    </div>
                </div>
                <hr class="my-6">
                <h3>Product Info</h3>
                <div>
                    <table class="table table-borderless">
                        <tbody>
                            @foreach (var pav in product.ProductAttributesValues)
                            {
                                <tr>
                                    <td class="w-5 ">@pav.ProductAttribute.Name:</td>
                                    <td class="w-20"><strong>@pav.Value</strong></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (this.product.BrochureUrl is not null)
                {
                    <div class="mt-3 mb-2">
                        <a href="@this.product.BrochureUrl" target="_blank">
                            <span class="bi bi-download"></span>
                            Download Our Brochure
                        </a>
                    </div>
                }
                <hr class="my-6"/>
                <div>
                    <h3>Areas of Application</h3>
                    @foreach (var aoa in this.product.AreasOfApplications)
                    {
                        <span class="badge text-bg-light-warning me-3 mb-3 py-2 px-5">@aoa.Name</span>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-5 mt-3">
        <CompatibleProductDetail CompatibleProductsDTO="this.compatibleProductsDTO" />
    </div>

    <SimilarProductDetail SimilarProductsDTO="this.similarProductsDTOs"/>

    <div class="mb-5"></div>
}

@code {
    [Parameter]
    public int ProductId { get; set; }

    [CascadingParameter]
    private CascadingAppState AppState { get; set; }

    private ProductDTO product { get; set; }
    private IEnumerable<SimilarProductsDTO> similarProductsDTOs { get; set; }
    private IEnumerable<CompatibleProductsDTO> compatibleProductsDTO { get; set; }
    private CartDTO cartDTO { get; set; }
    private CartProductDTO cartProductDTO { get; set; }

    private int SelectedQuantity { get; set; } = 1;

    private bool AddToCartInProgress { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        this.product = await this.productService.GetProductByIdAsync(this.ProductId);

        this.similarProductsDTOs =
            await this.similarProductsService.GetSimilarProductsByProductIdAsync(this.ProductId);

        this.compatibleProductsDTO =
            await this.compatibleProductsService.GetCompatibleProductsByProductIdAsync(this.ProductId);

        this.cartDTO = await this.cartService.GetCartAsync(this.AppState.CurrentAccountId);

        this.cartProductDTO = this.cartDTO.CartProducts
            .FirstOrDefault(cp => cp.ProductId == this.ProductId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("window.apc.scollPageToTop");
        }
    }

    private async Task AddToCart()
    {
        if (this.SelectedQuantity <= 0)
        {
            this.toastService.ShowError(
                message: $"You must select a quantity more than 0.",
                heading: "Error");

            return;
        }

        this.AddToCartInProgress = true;
        await Task.Delay(1);

        await this.cartProductService.AddAsync(new CartProductDTO
        {
            CartId = this.cartDTO.Id,
            ProductId = this.ProductId,
            ProductQuantity = this.SelectedQuantity,
        });

        this.toastService.ShowSuccess(
            message: $"Item '{this.product.Name}' has been added to your shopping cart.",
            heading: "Success");

        if (this.cartProductDTO is null)
        {
            this.cartDTO = await this.cartService.GetCartAsync(this.AppState.CurrentAccountId);
            this.cartProductDTO = this.cartDTO.CartProducts
                .FirstOrDefault(cp => cp.ProductId == this.ProductId);
        }
        else
        {
            this.cartProductDTO.ProductQuantity += this.SelectedQuantity;
        }

        this.AppState.CartItemCount += this.SelectedQuantity;
        this.SelectedQuantity = 1;

        this.AddToCartInProgress = false;
    }

    public void IncreaseQuantity()
    {
        this.SelectedQuantity++;
    }

    public void DecreaseQuantity()
    {
        if (this.SelectedQuantity > 1)
        {
            this.SelectedQuantity--;
        }
    }
}
