<div class="card p-6 card-product">
    <div>
        <img src="@Product.ImageUrl" alt="" class="rounded-circle icon-shape icon-xl">
    </div>
    <div class="mt-4">
        <h2 class="mb-1 h5">
            <a href="admin/product/@Product.Id" class="text-inherit">@Product.Name</a>
        </h2>
        <div class="small text-muted">
            <span class="me-2">@Product.Category.Name</span>
        </div>
        <div class="small text-muted">
            <span class="me-2">@Product.Type.Name</span>
        </div>
        @if (Product.Recycled)
        {
            <div class="mt-1">
                <div class="badge text-bg-success border me-1 mb-1">Recycled</div>
            </div>
        }
        @if (Product.AreasOfApplications.Any())
        {
            <div class="mb-2 mt-2">
                <a href="admin/product/@Product.Id/areasofapplication">
                    @foreach (var areasOfApplication in Product.AreasOfApplications)
                    {
                        <div class="badge text-bg-light border me-1 mb-1">@areasOfApplication.Name</div>
                    }
                </a>
            </div>
        }
        
        <div class="dropdown mt-2">
            <button class="btn btn-primary @*dropdown-toggle*@" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Make Changes
                <span class="oi oi-arrow-thick-bottom"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href="admin/product/@Product.Id">
                        Product Details
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="admin/product/@Product.Id/areasofapplication">
                        Areas Of Application
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="admin/product/@Product.Id/attribute">
                        Product Attributes
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="admin/product/@Product.Id/similar">
                        Similar Products
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductDTO Product { get; set; }
}
